/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.04.2020, 14:37:34
    Author     : misch
*/

.Button{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,100), 10, 0.0,0,1);
}
.colorBtn{
    -fx-background-color: rgb(234, 215, 7);
}
.hilfeBtn{
    -fx-background-color: rgb(0, 200, 255);
}
.menuBtn{
    -fx-background-color: rgb(255, 0, 42);
}
.wegCard{
    -fx-background-color: black;
    -fx-text-align: center;
}